.slider {
    width: 100%;
    height: auto;
    margin: 0 0;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev::before,
.slick-next:before{
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .3;
}

.slick-active {
    opacity: .7;
}

.slick-current{
    opacity: 1;
}