.slider {
    width: 100%;
    height: auto;
    margin: 0 0;
    padding-bottom: 50px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev::before,
.slick-next:before{
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .3;
}

.slick-active {
    opacity: .7;
}

.slick-current{
    opacity: 1;
}

.text-block{
    text-align: center; color: #121C25; font-family: Helvetica;
    filter: alpha(opacity = 40);
    background-color: rgba(206, 222, 231, 0.315);
    clear: both;
    
}

